/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #001e2b;
    font-family: "Sofia", sans-serif, ;
    overflow: hidden;

  }






html, body { height: 100%; }
