<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <div class="row gutters-sm">
      <!-- Left column with Hello card and user info card -->
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3" style="display: flex; gap: 0px; justify-content: center; margin-left: 40px;">
                <img src="../../assets/img/userIcon.png" style="width: 15%;">
                <h1 class="text-heading" style="text-align: center; margin: auto;">Hello!</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="picture">
                <img [src]="getInitials(currentUser)" class="rounded-circle" width="150" alt="" />
              </div>
              <div class="mt-3">
                <h4 class="text-secondary-bold">{{ currentUser }}</h4>
                <p class="text-secondary-muted mb-1">{{email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right column with tabs -->
      <div class="col-md-9">
        <div class="card" style="height: 91%;" >
          <div class="card-body">
            <!-- Tabs navigation -->
            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Profile Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-bs-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Additional Settings</a>
              </li>
            </ul>
            <div class="tab-content" id="profileTabsContent">
              <!-- Profile Info Tab -->
              <div style="margin-top: 50px;" class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <div  class="card h-100" style="padding-top: 2rem;padding-bottom: 1rem;">

                <div class="row">

                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary-muted">{{ currentUser }}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary-muted">{{ email }}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary-muted">+91-7865468876</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary-muted">DLH Park Mumbai</div>
                </div>
                </div>
              </div>
              <!-- Additional Settings Tab -->
              <div class="tab-pane fade" style="margin-top: 40px;" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <div  class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">
                          <i class="material-icons text-success mr-2">assignment</i>
                          <span class="text-additional">Additional Settings</span>
                        </h6>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="mb-0">Default Currency</small>
                            <select class="form-select form-select-sm" style="width: auto;">
                              <option selected>INR</option>
                              <option value="1">USD</option>
                              <option value="2">GBP</option>
                              <option value="2">EUR</option>
                              <option value="2">YEN</option>
                            </select>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="mb-0">Your Time Zone</small>
                            <select class="form-select form-select-sm" style="width: auto;">
                              <option selected>(GMT+05:30) Mumbai</option>
                              <option value="1">(GMT+08:00) Singapore</option>
                              <option value="2">(GMT+00:00) London</option>
                            </select>
                          </div>
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="mb-0">Language</small>
                            <select class="form-select form-select-sm" style="width: auto;">
                              <option selected>English</option>
                              <option value="1">Hindi</option>
                              <option value="2">French</option>
                              <option value="2">Espanol</option>
                              <option value="2">Deutsch</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h3 style="text-align: center;margin:0.5rem">GET SPLITMATE PRO! <i class="fa fa-star" style="color:gold" aria-hidden="true"></i></h3>
                        <p class="information" style="font-size: 14px;margin: 25px 60px;text-align: center;">Subscribe to SplitMate Pro for charts, search, an ad-free experience, and more!</p>
                        <div class="control">
                          <button class="btn-buynow">
                            <span class="price">$250</span>
                            <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                            <span class="buy">Get now</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
