<div *ngIf="isLoading" class="loader-container">
  <img src="../../assets/img/giphy.gif" alt="Loading..." class="loader-gif" />
</div>


<!-- Content that is shown when not loading -->
<div *ngIf="!isLoading" class="container">

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let group of groupDetails">
      <div class="our-team">
        <!-- Dots menu to show group options -->
        <div class="dots-menu" (click)="toggleOptionsMenu(group)">
          <i class="material-icons">more_vert</i>
        </div>

        <!-- Options menu with Edit and Delete buttons -->
        <div class="options-menu" *ngIf="group.isOptionsMenuOpen">
          <button (click)="editGroup(group)">
            <i class="material-icons group-info-icons">edit</i> Edit Group Details
          </button>
          <button (click)="deleteGroup(group)">
            <i class="material-icons group-info-icons">delete</i> Delete Group
          </button>
        </div>

        <!-- Group Card (click to view details) -->
        <div (click)="onGroupClick(group.groupId)">
          <div class="picture">
            <img [src]="getInitials(group.name)" alt="Initials for {{ group.name }}" />
          </div>

          <div class="team-content">
            <h3 class="name">{{ group.name }}</h3>
          </div>

          <ul class="social">
            Click to view expenses
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && groupDetails.length === 0" class="no-groups">
  No groups to display.
</div>