<div class="container">
  
<div class="popup">
  <button type="button" class="close-btn" (click)="close()">&#10006;</button>
  <h2 class="form-heading">Add Expense</h2>
  <form>
    <!-- Expense Title -->
    <div class="expense-title">
      <!-- <label for="label" class="label">Expense Title: </label> -->
      <input id="title" [(ngModel)]="expense.title" name="title" placeholder="Expense Title"/>
    </div>

    <!-- Currency Dropdown -->
    <div class="currency">
      <!-- <label for="currency">Currency:</label> -->
      <select
        id="currency"
        [(ngModel)]="expense.currency"
        name="currency"
    
      >
        <option *ngFor="let currency of currencyOptions" [value]="currency">
          {{ currency }}
        </option>
      </select>
      <!-- <label for="amount">Amount:</label> -->
      <input
        id="amount"
        type="number"
        [(ngModel)]="expense.amount"
        name="amount"
        placeholder="0.00"
      />
    </div>

  <!-- Payer Dropdown -->
<div class="payer">
  <label for="payer" class="payer-label">Paid By:</label> &nbsp; &nbsp;
  <select
    id="payer"
    [(ngModel)]="expense.paidBy"
    name="payer"
  >
    <option *ngFor="let member of membersNames" [value]="member.email">
      {{ member.name ? member.name : member.email }}
    </option>
  </select>
</div>



    <div class="split-options ">
      <span  class="payer-label">Split Options: </span>
        <button (click)="onSplitOptionChange('equally')" class="split-tabs"
        [ngClass]="{'active-option': selectedSplitOption === 'equally'}">Equally</button>
      <button (click)="onSplitOptionChange('percentage')"  class="split-tabs"
      [ngClass]="{'active-option': selectedSplitOption === 'percentage'}">Percentage</button>
      <button (click)="onSplitOptionChange('shares')"  class="split-tabs"
      [ngClass]="{'active-option': selectedSplitOption === 'shares'}">Shares</button>
      <button (click)="onSplitOptionChange('adjustments')"  class="split-tabs"
      [ngClass]="{'active-option': selectedSplitOption === 'adjustments'}">Adjustments</button>
    </div>

   

   
  </form>
  <div *ngIf="selectedSplitOption">
      <!-- Select All Checkbox -->
    <div *ngIf="selectedSplitOption === 'equally'" class="eq-members">
      <h3>Split Equally</h3>
      <label class="select-all check-container">
        <input type="checkbox" [checked]="isAllSelected()" (change)="toggleSelectAll($event)" />
        Select All
        <span class="checkmark"></span>
      </label>
  
      <div *ngFor="let member of membersNames" class="member-names">
        <label class="check-container">
          <input type="checkbox" [checked]="expense.selectedMembers.includes(member.email)" 
                 (change)="toggleMemberSelection(member.email, $event)" />
                 {{ member.name ? member.name : member.email }}
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  
   
    <div *ngIf="selectedSplitOption === 'percentage'">
      <h3>Split by Percentage</h3>
      <div class="member-percentage-row" *ngFor="let member of membersNames">
        <div class="member-details">
          <span class="member-email">{{ member.name ? member.name : member.email }}</span>
        </div>
        <div class="input-with-shares">
          <input
            type="number"
            [(ngModel)]="memberPercentages[member.email]"
            min="0"
            max="100"
            class="percentage-input"
            placeholder="Enter Percentage"
          />
        </div>
        <span class="percent-label">%</span>
      </div>
    </div>
    
  
    <div *ngIf="selectedSplitOption === 'shares'">
      <h3>Split by Shares</h3>
      <div *ngFor="let member of membersNames" class="member-share-row">
        <div class="member-details">
          <span>{{ member.name ? member.name : member.email }}</span>
        </div>
        <div class="input-with-shares">
          <input
            type="number"
            [(ngModel)]="memberShares[member.email]"
            min="0"
            placeholder="Enter Shares"
          />
        </div>
      </div>
    </div>
    
  
    <div *ngIf="selectedSplitOption === 'adjustments'">
      <h3>Adjustments</h3>
      <div *ngFor="let member of membersNames" class="member-adjustment-row">
        <div class="member-details">
          <span>{{ member.name ? member.name : member.email }}</span>
        </div>
        <div class="input-with-adjustments">
          <input
            type="number"
            min="0"
          />
        </div>
      </div>
    </div>
        <!-- Save and Cancel Buttons -->
        <button type="button" (click)="addExpenseData()" class="save-button" [disabled]="isSaveDisabled">Split Expense</button>
  </div>
</div>


<!-- Members Split Options -->


  </div>






    <!-- Equally Checkbox -->
    <!-- <div>
      <label for="equally">Split Equally:</label>
      <input
        id="equally"
        type="checkbox"
        [(ngModel)]="expense.equally"
        name="equally"
        (change)="toggleEqually()"
      />
    </div> -->




   <!-- Checklist for Members -->
    <!-- <div *ngIf="!expense.equally">
      <label>Members:</label>
      <div *ngFor="let member of membersNames">
        <input
          type="checkbox"
          [id]="member.email"
          [checked]="expense.selectedMembers.includes(member.email)"
          (change)="toggleMemberSelection(member.email, $event)"
        />
        <label [for]="member.email">{{ member.name }}</label>
      </div>
    </div> -->