.container{
  display: flex;
 
}

.popup{
  border: 2px solid white;
  width: 50%;
  color: white;
  height: 335px;
  background-color: brown;
  margin: 1%
}

.members-split-options{
  border: 2px solid white;
  width: 50%;
  color: white;
  height: 335px;
  background-color: brown;
  margin: 1%
}