<app-navbar></app-navbar>
<div class="container-fluid text-center">
  <div class="row align-items-center">
    <!-- Sidebar Links -->
    <div class="col-3 friends-container">
      <div class="section">
        <div class="links">
          <a [routerLink]="['/dashboard/main-dashboard']" class="side-link">
            <i class="fas fa-tachometer-alt"></i> Dashboard
          </a>
          <input type="search" placeholder="Search your friend" class="search-input">
          <a [routerLink]="['/dashboard/all-expenses']" class="side-link">
            <i class="fa-solid fa-money-bill-trend-up"></i> All Expenses
          </a>
        </div>
      </div>

      <!-- Groups Section -->
      <div class="section">
        <div class="header">
          <div> <h3>GROUPS</h3></div>
        
          <a href="javascript:void(0)" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <a [routerLink]="['/dashboard/group-detail']" class="side-link">
            <i class="fas fa-user-friends"></i> BTS Army
          </a>
          <a [routerLink]="['/dashboard/group-detail']" class="side-link">
            <i class="fas fa-user-friends"></i> Another Group
          </a>
        </div>
      </div>

      <!-- Friends Section -->
      <div class="section">
        <div class="header">
       <div><h3>FRIENDS</h3> </div>
          <a href="javascript:void(0)" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <a [routerLink]="['/dashboard/friend-detail']" class="side-link">
            <i class="fas fa-user"></i> Friend 1
          </a>
          <a [routerLink]="['/dashboard/friend-detail']" class="side-link">
            <i class="fas fa-user"></i> Friend 2
          </a>
        </div>
      </div>

      <div class="invite-friends">
        <div class="invite-friends-heading">
          Invite Friends
        </div>
        <div class="invite-friends-detail">
          <input type="text" placeholder="Enter an email address" class="invite-friend-email">
          <button class="invite-btn">Send invite</button>
        </div>
        <div class="share-links">
          <a href=" " class="fa fa-facebook"> </a>
          <a href=" " class="fa fa-twitter"></a>
        </div>
      </div>
    </div>

    <!-- Main Dashboard Section -->
    <div class="col-6 main-dashboard">
      <router-outlet></router-outlet> 
    </div>

    <!-- Group Balances Section -->
    <div class="col-3 group-balances">
      <div class="row">
            <div class="col">
                <button class="btn btn-warning" title="Create Group" (click)="navigateToForm()">
                  Create Group
                </button>
              </div>
              <div class="col">
                <button class="btn btn-info" title="Settle Up">
                 Settle Up
                </button>
              </div>
              <div class="col">
                <button class="btn btn-danger" title="Add Expense">
                 Add Expense
                </button>
        </div>
       
    </div>

      <p>Load the group and friends details here!</p>
    </div>
  </div>
</div>
