<app-navbar></app-navbar>
<div class="container-fluid_dashboard text-center">
  <div class="row no_margin " style="margin-right: 0;">
    <div class="col-2 friends-container">
      <div class="section">
        <div class="links">
          <a [routerLink]="['/dashboard/main-dashboard']" routerLinkActive="active" class="side-link" (click)='setSection("dashboard/main-dashboard")'>
            <i class="fa-solid fa-gauge-simple-high"></i> Dashboard
          </a>
          <a [routerLink]="['/dashboard/all-expenses']" routerLinkActive="active" class="side-link">
            <i class="fa-solid fa-money-bill-trend-up"></i> All Expenses
          </a>

          <a [routerLink]="['/dashboard/all-groups']" routerLinkActive="active" class="side-link">
            <i class="fa-solid fa-solid fa-users"></i> My Groups
            <!-- <a [routerLink]="['/create-group/new']" routerLinkActive="active" class="add-link">+ Add</a> -->
          </a>
          

        </div>
      </div>
      <!-- Groups Section -->
      <!-- <div class="section">
        <div class="d-header">
          <div><h3>Groups</h3></div>
          <a [routerLink]="['/create-group/new']" routerLinkActive="active" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <div *ngFor="let group of groupDetails">
            <a
              [routerLink]="['/dashboard/group-detail', group.groupId]"
              routerLinkActive="active"
              class="side-link group-side-link">
              <i class="fa-solid fa-users-line"></i>{{ group.name }}
            </a>
          </div>
        </div>
      </div> -->
      <!-- Friends Section -->
      <!-- <div class="section">
        <div class="d-header">
       <div><h3>Friends</h3> </div>
          <a href="javascript:void(0)" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <a [routerLink]="['/dashboard/friend-detail']" routerLinkActive="active" class="side-link">
            <i class="fas fa-user"></i> Friend 1
          </a>
          <a [routerLink]="['/dashboard/friend-detail']" routerLinkActive="active" class="side-link">
            <i class="fas fa-user"></i> Friend 2
          </a>
        </div>
      </div> -->
    </div>
    <!-- Main Dashboard Section -->
    <div class="col-10 main-dashboard">
      <router-outlet></router-outlet>
    </div>
<!--
<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
  <defs>
    <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
  </defs>
  <g class="wave1">
    <use xlink:href="#wave-path" x="50" y="3"></use>
  </g>
  <g class="wave2">
    <use xlink:href="#wave-path" x="50" y="0"></use>
  </g>
  <g class="wave3">
    <use xlink:href="#wave-path" x="50" y="9"></use>
  </g>
</svg> -->















