<app-navbar></app-navbar>
<div class="container-fluid_dashboard text-center">
  <div class="row no_margin align-items-center">
    <!-- Sidebar Links -->
    <div class="col-3 friends-container">
      <div class="section">
        <div class="links">
          <a [routerLink]="['/dashboard/main-dashboard']" routerLinkActive="active" class="side-link">
            <i class="fa-solid fa-gauge-simple-high"></i> Dashboard
          </a>
          <a [routerLink]="['/dashboard/all-expenses']" routerLinkActive="active" class="side-link">
            <i class="fa-solid fa-money-bill-trend-up"></i> All Expenses
          </a>
        </div>
      </div>

      <!-- Groups Section -->
      <div class="section">
        <div class="d-header">
          <div> <h3>Groups</h3></div>
        
          <a [routerLink]="['/create-group/new']" routerLinkActive="active" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <div *ngFor="let group of groupDetails">
            <a 
              [routerLink]="['/dashboard/group-detail', group.groupId]" 
              (click)="showGroupDetails(group)"  routerLinkActive="active"
              class="side-link">
              <i class="fa-solid fa-users-line"></i>{{ group.name }}
            </a>
          </div>
        </div>
      </div>

      <!-- Friends Section -->
      <div class="section">
        <div class="d-header">
       <div><h3>Friends</h3> </div>
          <a href="javascript:void(0)" class="add-link">+ Add</a>
        </div>
        <div class="links">
          <a [routerLink]="['/dashboard/friend-detail']" routerLinkActive="active" class="side-link">
            <i class="fas fa-user"></i> Friend 1
          </a>
          <a [routerLink]="['/dashboard/friend-detail']" routerLinkActive="active" class="side-link">
            <i class="fas fa-user"></i> Friend 2
          </a>
        </div>
      </div>

      <!-- <div class="invite-friends">
        <div class="invite-friends-heading">
          Invite Friends
        </div>
        <div class="invite-friends-detail">
          <input type="text" placeholder="Enter an email address" class="invite-friend-email">
          <button class="invite-btn">Send invite</button>
        </div>
        <div class="share-links">
          <a href=" " class="fa fa-facebook"> </a>
          <a href=" " class="fa fa-twitter"></a>
        </div>
      </div> -->
    </div>

    <!-- Main Dashboard Section -->
    <div class="col-9 main-dashboard">
      <router-outlet></router-outlet> 
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9"></use>
      </g>
    </svg>

    
    <!-- Group Balances Section -->
    <!-- <div class="col-3 group-balances">
      <div class="row">
            <div class="col">
                <button class="btn btn-warning" title="Create Group" (click)="navigateToForm()">
                  Create Group
                </button>
              </div>
              <div class="col">
                <button class="btn btn-info" title="Settle Up">
                 Settle Up
                </button>
              </div>
              <div class="col">
                <button class="btn btn-danger" title="Add Expense">
                 Add Expense
                </button>
        </div>
       
    </div>

  <div class="group-members-list">
      <div class="header1">GROUP MEMBERS</div>
      <div *ngFor="let memberName of groupMembersName">
    <p><i class="fa-solid fa-circle-user"></i>  {{ memberName }}</p>
      </div>
    </div>
    </div> -->
  </div>
</div>
