<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="hero-section">
        
        <div>
          <h1 class="group-name" *ngIf="groupName">{{ groupName | uppercase }}</h1>
          <p > 
            Created on: <b>{{this.groupCreatedAt | date}}</b> by <b>{{this.groupCreatedBy.username}}</b>
          </p>
        </div>
  
      
        <div>
          <i class="material-icons" style='    position: relative;
          left: 49%;
          top: -72px;'
          title="Edit Group" (click)="editGroup()">edit</i> &nbsp; 
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="row top-cards">
      <div class="col card">
        <h2>You Owe</h2>
        <h1>{{responseOftotalOwed.owedBalance | currency: 'INR':'symbol'}}</h1>
      </div>
      <div class="col card">
        <h2>Owed to You</h2>
        <h1>{{responseOftotalOwed.owesBalance | currency: 'INR':'symbol'}}</h1>
      </div>
      <div class="col card">
        <h2>Total Expense</h2>
        <h1>{{responseOftotalOwed.myTotalBalance | currency: 'INR':'symbol'}}</h1>
      </div>
    </div>
  
    
    </div>
    
  <div class="row">
      <div class="col">
        <div class="recent-updates">
          <div class="sticky-header">
            <h2 class="summary-heading">RECENT UPDATES</h2>
          </div>
          <div class="updates-container">
            <div *ngFor="let update of updates" class="update-row">
              <div class="update-info">
                {{ update.person1 === dataService.currentUserEmail.email ? 'You' : update.person1 }}
                {{ update.action === 'settlement' 
                    ? 'settled with ' + update.person2 + ' for ₹' + update.amount  
                    : 'paid ₹' + update.amount + ' for ' + update.action }}
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="col">
        <div class="members-of-group">
          <h2 class="summary-heading">GROUP MEMBERS</h2>
            <i class="material-icons" title="Add Members" (click)="showAddmembersPopup = true" style="z-index: 10;
            left: relative;
            top: -40px;
            position: relative;
            left: 49%;
            font-weight: bold;">group_add</i> &nbsp;
        
          <div *ngIf="membersNames.length === 0">
            <p>No members yet. Add members to the group!</p>
          </div>
          <div class="members-container">
            <div *ngFor="let member of membersNames" class="member-item">
              <div class="member-card">
                <div class="member-details">
                  <div class="member-info">
                    <div class="member-avatar">
                      <i class="material-icons avatar-icon">person</i>
                    </div>
                    <span class="member-name">{{ member.name ? member.name : member.email }}</span>
                    <span *ngIf="member.email === this.dataService.currentUserEmail.email">(You)</span> 
                  </div>
                </div>
                <span class="member-role">{{ member.role }}</span>
              </div>
            </div>
            
          </div>
          
          
        </div>
      </div>


  
 </div>
  <div class="row expense-summary-div">
   <div class="col-12">
   
    <ul class="custom-tabs">
      <li class="nav-item">
        <a class="custom-tab" [class.active]="activeTab === 'expenses'" (click)="setActiveTab('expenses')">Group Expenses</a>
      </li>
      <li class="nav-item">
        <a class="custom-tab" [class.active]="activeTab === 'balances'" (click)="setActiveTab('balances')">Group Balances</a>
      </li>
      <li class="nav-item">
        <a class="custom-tab" [class.active]="activeTab === 'settle-up'" (click)="setActiveTab('settle-up')">Settle Up</a>
      </li>
    </ul>
 
    <div *ngIf="activeTab === 'expenses'" class="active-tab">
      <div class="tab-content">
        <div class="add-expense">
          <h2 class="expense-heading">List of Expenses</h2>
          <button (click)="showPopup = true" class="add-expense-btn">+ Add Expense</button>
        </div>
       <div class="group-expenses">
        
        <table class="expenses">
          <thead>
            <tr>
              <th>Expense Date</th>
              <th>Title</th>
              <th>Total Amount</th>
              <th>Paid By</th>
              <th>You Borrowed</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="groupExpensesArray.length > 0 else noExpenses">
           
            <ng-container *ngFor="let expense of groupExpensesArray">

              <tr *ngIf="expense.title !== 'settlement'">
                <td (click)="openExpenseModal(expense)">{{ expense.date | date }}</td> 
                <td (click)="openExpenseModal(expense)">{{ expense.title | uppercase }}</td>
                <td (click)="openExpenseModal(expense)">{{ expense.amount  | currency: 'INR':'symbol' }}</td>
                <td (click)="openExpenseModal(expense)">
                  {{ expense.paidBy === this.dataService.currentUserEmail.email ? 'You' : expense.paidByName ? expense.paidByName : expense.paidBy }}
                </td>
                <td (click)="openExpenseModal(expense)">{{ expense.borrowed  | currency: 'INR':'symbol'}}</td>
                <td><i class="material-icons" (click)="deleteExpense(expense)">delete</i></td>
              </tr>
            </ng-container>
          </tbody>
          <ng-template #noExpenses>
            <tr>
              <td colspan="6" class="no-expenses-message">
                No expense to track. Add an expense to start tracking your expenses.
              </td>
            </tr>
          </ng-template>
        </table>
      </div>
      
      </div>
    </div>
    <div *ngIf="selectedExpense" class="modal-overlay">
      <div class="modal">
        <div class="modal-content">
          <button type="button" class="close-btn-expense" (click)="close()">&#10006;</button>
          <div class="modal-header">
            <h2 class="expense-title">{{ selectedExpense.title | uppercase }}</h2>
            <!-- <div class="expense-subheading">
              <p class="expense-total"><strong>Added By: {{ selectedExpense.createdBy.name }}</strong></p>
              <p class="expense-paid-by"><strong>On:</strong> {{ selectedExpense.expenseDate | date: 'MMM d, yyyy' }}</p>
            </div> -->
          </div>
          <div class="expense-info">
            <p><strong>Paid By:</strong> {{ selectedExpense.paidByName }}</p>
            <p><strong>Total Amount</strong> ₹ {{ selectedExpense.amount }}</p>
          </div>
          <div class="members-list">
            <h3>Members Who Owe:</h3>
            <ul>
              <ng-container *ngFor="let member of membersWhoOwes">
                <li *ngIf="member.amount < 0"> 
                  <span>{{ member.person }}</span>
                  <span>₹ {{ abs(member.amount) }}</span>
               </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="activeTab === 'balances'" class="active-tab">
      <div class="tab-content">
        <div class="balances-heading">
            <h1>Group Balances Overview</h1>
        </div>
        <div *ngIf="grpBalancesList.length==0" class="all-settled">
          <p class="settled-message">Everything's squared away! No group balances left.</p>
        </div>
        <ul class="transaction-list">
          <ng-container *ngFor="let member of grpBalancesList">
            <li *ngIf="member.title !== 'settlement'" class="transaction-item">
              <div class="transaction-details">
                <span class="transaction-icon">
                  <i class="fa-solid fa-money-bill-1-wave"></i>
                </span>
                <div class="transaction-text">
                  <strong class="transaction-email">   {{ member.person === dataService.currentUserEmail.email ? 'You' : member.person }}</strong> owe
                  <strong class="transaction-amount">{{ member.amount | currency: 'INR':'symbol' }}</strong>
                  to <strong class="transaction-to">{{ member.to === dataService.currentUserEmail.email ? 'You' : member.to  }}</strong>
                  for <strong class="transaction-title">{{ member.title }}</strong>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
        
        
      </div>
    </div>
    <div *ngIf="activeTab === 'settle-up'" class="active-tab">
      <div class="tab-content">
        <div class="settle-up-heading">
          <h2>Expense Settlement </h2>
        </div>
    
        <div class="Borrowed-expenses">
          <!-- List of Borrowed Expenses -->
          <div *ngIf="grpBalances.transactionArray?.length==0" class="all-settled">
            <p class="settled-message">Wohooo! You are all settled up with your expenses! No pending amounts.</p>
          </div>
          <div *ngFor="let expense of groupSettlements.transactionArray" class="Expense-card">
            <div class="Expense-header">
              <span class="Owe-text">YOU OWE</span>
              <span class="Person-name">{{expense.to}}</span>
            </div>
            <div class="Expense-amount-box">
              <span class="Amount">{{ expense.owesAmount |  currency:'INR':'symbol' }}</span>
            </div>
            <button class="settle-up-btn" (click)="openExpenseModal(expense)">Settle Up</button>
          </div>
        </div>
    
        <!-- Settle Up Modal -->
        <div *ngIf="selectedExpense" class="expense-modal">
          <div class="modal-content">
            <span class="settle-heading">Record a payment</span>
            <button class="close-btn9" (click)="closeModal()">&#10006;</button>
    
            <div class="paying-members">
              <div class="payment-info">
                <div class="icon-container">
                  <i class="fa-solid fa-user"></i>&nbsp; &nbsp; &nbsp;
                  <i class="fa-solid fa-money-bill-trend-up"></i>&nbsp; &nbsp; &nbsp;
                  <i class="fa-solid fa-user"></i>
                </div>
                <div class="text-container">
                  <div class="person-name"><b>{{selectedExpense.email}}</b></div>&nbsp;&nbsp;
                  <div class="action-text">paid</div>&nbsp;&nbsp;
                  <div class="person-name"><b>{{selectedExpense.to}}</b></div>
                </div>
              </div>
            </div>
    
            <div class="money-input">
              <select class="currency">
                <option *ngFor="let currency of currencyOptions" [value]="currency">
                  {{ currency }}
                </option>
              </select>
              <input class="amount" type="number" [(ngModel)]="selectedExpense.owesAmount" (input)="updateExpenseAmount($event)" />
            </div>
            <button class="settle-up-btn" (click)="addExpenseData(selectedExpense)">Settle Payment</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="overlay" *ngIf="showPopup || showAddmembersPopup || showSettleUpPopup || showAddmembersPopup"></div>
    
    <app-settle-up
      *ngIf="showSettleUpPopup"
      (closeSettleUpPopup)="showSettleUpPopup = false"
      (onSettleUp)="loadGroupDetails()"
      class="modal-container"
      [groupDetails]="groupDetails"
      [owedExpenses]="owedExpenses"
      [groupId]="groupId">
    </app-settle-up>
    
  <app-edit-group-modal
   *ngIf="showAddmembersPopup"
   class="modal-container"
   (closeAddMemberPopup)="showAddmembersPopup = false"
   [groupId]="groupId"
   (onMemberAdd)="loadGroupDetails()"
   
 ></app-edit-group-modal>
 
 <app-expense-modal
 *ngIf="showPopup"
 class="modal-container"
 [membersNames]="membersNames"
 (closePopup)="showPopup = false"
 (onAddExpense)="loadGroupDetails()"
 ></app-expense-modal>
 
 
 </div>





<!-- <div class="container-fluid">
 <div class="row">
  <div class="col">
    <div class="group-detail-card">
       <h2 class="group-name" *ngIf="groupName">{{groupName}} </h2>
       <span class="created-details" *ngIf="this.groupDetails[0].createdBy && this.groupDetails[0].createdAt"> Created on: {{this.groupDetails[0].createdAt | date}}   by {{this.groupDetails[0].createdBy}}</span>
       
       <div class="profile-container">
        <div class="profile-icon"><img src="assets/img/img_avatar.png" alt="Avatar" class="avatar">
       </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
      </div>
       
      <div class="add-member-btn">
        <button  (click)="showAddmembersPopup = true"  class="add-btn">  Add Members</button>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="summary-text">
    <div class="group-expense-summary-card">
     
      <h2 class="summary-heading">Summary</h2>
      <div class="expense-table">
        <div class="balances">
          <h3>$200</h3>
          <p>You Owe</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Owed to you</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Total Balances</p>
        </div>
      </div>
    
    </div>
    <div class="buttons">
      <button (click)="showPopup = true" class="summary-btns">Add Expense</button>
      <button class="summary-btns" (click)="showOwedExpenses()" >Settle Up</button>
    </div>
  </div>
  </div>
 
</div>
 <div class="row expense-summary-div">
  <div class="col-12">
  
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'expenses'" (click)="setActiveTab('expenses')">Group Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'balances'" (click)="setActiveTab('balances')">Group Balances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'activities'" (click)="setActiveTab('activities')">Activities</a>
      </li>
    </ul>

    <div *ngIf="activeTab === 'expenses'">
      <div class="tab-content">
        <div *ngIf="groupExpenses.length === 0">
          <p>It looks like there are no expenses yet. Click "Add Expense" to create one!</p>
        </div>
        
        <div class="expense-summary" *ngFor="let expense of groupExpenses">
          <div class="expense-item">
            <div class="expense-title">{{expense.title}}</div>
            <div class="expense-amount">You Owe: 100</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'balances'">
      <div class="tab-content">
   
        <h4>Group Balances Content</h4>
        <p>Details for Group Balances... kon kisko kitna owe kr rha hai issi group mein</p>
      </div>
    </div>
    <div *ngIf="activeTab === 'activities'">
      <div class="tab-content">
  
        <h4>Activities Content</h4>
        <p>Details for Activities...</p>
      </div>
    </div>
  </div>


 </div>
 <div class="overlay" *ngIf="showPopup || showAddmembersPopup || showSettleUpPopup || showAddmembersPopup"></div>

 <app-settle-up
*ngIf="showSettleUpPopup"
 (closeSettleUpPopup)="showSettleUpPopup = false"
 (onSettleUp) = "loadGroupDetails()"
  class="modal-container"
  [groupDetails]="groupDetails"
  [owedExpenses]="owedExpenses"
  [groupId]="groupId">
</app-settle-up>

 <app-edit-group-modal
  *ngIf="showAddmembersPopup"
  class="modal-container"
  (closeAddMemberPopup)="showAddmembersPopup = false"
  [groupId]="groupId"
  (onMemberAdd)="loadGroupDetails()"
></app-edit-group-modal>

<app-expense-modal
*ngIf="showPopup"
class="modal-container"
[membersNames]="membersNames"
(closePopup)="showPopup = false"
(onAddExpense)="loadGroupDetails()"
></app-expense-modal>


</div> -->
  
  
 



<div *ngIf="isLoading" class="loader-container">
  <img src="../../assets/img/giphy1.gif" alt="Loading..." class="loader-gif" />
</div>
  
 

 








