.g-heading{
    color: rgb(0, 0, 0);
}

.main-details{
    border: 1px solid black;
}

.member-details{
    margin-left:20%
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  z-index: 10;
}



/* Centered Modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width:70%
}
