<div class="container">
  <div class="row">
    <div class="col-8 main-details">
      <div *ngIf="groupDetails" class="group-details-header">
    <div><h1 class="g-heading">{{ groupName }}</h1></div>
    <div class="btns">
      <button class="btn btn-danger" (click)="showPopup = true">
        Add Expense
      </button> &nbsp;
      <button class="btn btn-success">
        Settle Up
      </button>
    </div>
       
      </div>
 <!-- expense details -->
 <div class="expense-summary">
 <div class="expense-item">    <!--*ngFor="let expense of expenses" -->
    <div class="expense-title">Expense Title</div>
    <div class="expense-amount">You Owe: 100</div>
  </div>
</div>

    </div>
    <div class="col-4 member-details">
      <div class="add-members-button">
        <a class="add-members-link" (click)="showAddmembersPopup = true">+ Click here to add members</a>
      </div>
      <div class="list-container">
        <div *ngFor="let member of membersNames" class="member-list">
          <ul>
            <li><i class="fa-solid fa-circle-user"></i> &nbsp;  &nbsp;{{member.email}}</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
 
  <div class="overlay" *ngIf="showPopup || showAddmembersPopup"></div>
 
  <!-- Popup Component -->
  <app-expense-modal
  *ngIf="showPopup"
  class="modal-container"
  [membersNames]="membersNames"
  (closePopup)="showPopup = false"
></app-expense-modal>

<!-- Edit Group Modal -->
<app-edit-group-modal
  *ngIf="showAddmembersPopup"
  class="modal-container"
  (closeAddMemberPopup)="showAddmembersPopup = false"
  [groupId]="groupId"
></app-edit-group-modal>
  </div>
