<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="header d-flex justify-content-between align-items-center">
        
        <div>
          <h1 class="group-name" *ngIf="groupName">{{ groupName }}</h1>
          <p>
            Created on: <b>Dec 12, 2024</b> by <b>Kaveri Dhore</b>
          </p>
        </div>
  
      
        <div>
          <i class="material-icons" title="Add Members" (click)="showAddmembersPopup = true">group_add</i> &nbsp;
          <i class="settings-icon material-icons" title="Settings">settings</i> &nbsp;
          <!-- <i class="material-icons" title="Delete Group">delete</i> -->
       
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
   <div class="col">
     <div class="group-expense-summary">
       <h2 class="summary-heading">Summary</h2>
       <div class="expense-table">
        <div class="balances">
          <h3>$200</h3>
          <p>You Owe</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Owed to you</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Total Balances</p>
        </div>
      </div>
     </div>
   </div>
   <div class="col">
    <div class="recent-updates">
      <h2 class="summary-heading">Recent Updates</h2>
      <div *ngFor="let update of updates" class="update-row">
        <div class="update-info">
          <strong>"{{ update.person }}"</strong> {{ update.action }} 
          <span class="update-time">{{ update.time }}</span>
        </div>
      </div>
    </div>
    
   </div>
  
 </div>
  <div class="row expense-summary-div">
   <div class="col-12">
   
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'expenses'" (click)="setActiveTab('expenses')">Group Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'balances'" (click)="setActiveTab('balances')">Group Balances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'settle-up'" (click)="setActiveTab('settle-up')">Settle Up</a>
      </li>
    </ul>
 
    <div *ngIf="activeTab === 'expenses'" class="active-tab">
      <div class="tab-content">
       <div class="add-expense">
        <h2 class="expense-heading">Expenses</h2>
        <button (click)="showPopup = true" class="add-expense-btn">+ Add Expense</button>
       </div>
      <div class="group-expenses">
         <div class="expenses">
          <div class="ek-expense">
            <th>Expense Date</th>
            <th>Title</th>
            <th>Total Amount</th>
            <th>Paid By</th>
            <th>You Borrowed</th>
          </div>
           <div class="ek-expense" *ngFor="let expense of expenses" (click)="openExpenseModal(expense)">
            <td>{{ expense.date | date: 'MMM d, y' }}</td>
            <td>{{ expense.title }}</td>
            <td>{{ expense.amount | currency }}</td>
            <td>{{ expense.paidBy }}</td>
            <td>{{ expense.borrowed | currency }}</td>
           </div>
         </div>
      </div>
      </div>
    </div>
    <div *ngIf="selectedExpense" class="modal">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <div class="header-left">
            <h3>{{ selectedExpense.title }}</h3>
            <p>{{ selectedExpense.amount | currency }}</p>
          </div>
          <div class="header-right">
            <button class="delete-btn" (click)="deleteExpense(selectedExpense)">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4>Paid By</h4>
          <p>{{ selectedExpense.paidBy }}</p>
          <h4>Owed By</h4>
          <ul>
            <li *ngFor="let owed of selectedExpense.owedBy">
              {{ owed.name }} - {{ owed.amount | currency }}
            </li>
          </ul>
        </div>
      </div>
      </div>
    <div *ngIf="activeTab === 'balances'" class="active-tab">
      <div class="tab-content">
   
        <h4>Group Balances Content</h4>
        <p>Details for Group Balances... kon kisko kitna owe kr rha hai issi group mein</p>
      </div>
    </div>
    <div *ngIf="activeTab === 'settle-up'" class="active-tab">
      <div class="tab-content">
        <div class="settle-up-heading">
          <h2>  <i class="fa-solid fa-circle-info"></i> &nbsp; Select expense to settle up</h2>
        </div>
      
        <div class="borrowed-expenses">
          <!-- Example list of borrowed expenses -->
          <div *ngFor="let expense of borrowedExpenses" class="expense-item" (click)="openExpenseModal(expense)">
            <div class="expense-info">
              <span class="expense-title">{{ expense.title }}</span>
               <span class="settle-up-with">Owed to: <b>Shravan Shetty</b></span>
             <span>Amount: <span class="expense-amount">{{ expense.amount | currency }}</span></span>
            </div>
          </div>
        </div>
      
        <!-- Settle Up Modal -->
        <div *ngIf="selectedExpense" class="expense-modal">
          <div class="modal-content">
         <span class="settle-heading">Record a payment</span><button class="close-btn" (click)="closeModal()">&#10006;</button>
            <!-- <p><strong>Title:</strong> {{ selectedExpense.title }}</p>
            <p><strong>Amount:</strong> {{ selectedExpense.amount | currency }}</p>
            <p><strong>Date:</strong> {{ selectedExpense.date | date: 'MMM d, y' }}</p> -->


            <div class="paying-members">
              <div class="payment-info">
                <div class="icon-container">
                  <i class="fa-solid fa-user"></i>&nbsp; &nbsp; &nbsp;
                  <i class="fa-solid fa-money-bill-trend-up"></i> &nbsp; &nbsp; &nbsp;
                  <i class="fa-solid fa-user"></i>
                </div>
                <div class="text-container">
                  <div class="person-name"><b>Anuja</b></div> &nbsp;&nbsp;
                  <div class="action-text">paid</div> &nbsp;&nbsp;
                  <div class="person-name"><b>Kaveri</b></div>
                </div>
              </div>
              
            </div>
            <div class="money-input">
       
              <select
                class="currency"
              >
                <option *ngFor="let currency of currencyOptions" [value]="currency">
                  {{ currency }}
                </option>
              </select>
           
              <input
                class="amount"
                type="number"
            
           
              />
            </div>
            <button class="settle-up-btn">Settle Payment</button>
          </div>
        </div>
      </div>
    </div>
  
   
   </div>
 
 
  </div>


  <div class="overlay" *ngIf="showPopup || showAddmembersPopup || showSettleUpPopup || showAddmembersPopup"></div>
 
  <app-settle-up
 *ngIf="showSettleUpPopup"
  (closeSettleUpPopup)="showSettleUpPopup = false"
  (onSettleUp) = "loadGroupDetails()"
   class="modal-container"
   [groupDetails]="groupDetails"
   [owedExpenses]="owedExpenses"
   [groupId]="groupId">
 </app-settle-up>
 
  <app-edit-group-modal
   *ngIf="showAddmembersPopup"
   class="modal-container"
   (closeAddMemberPopup)="showAddmembersPopup = false"
   [groupId]="groupId"
   (onMemberAdd)="loadGroupDetails()"
   
 ></app-edit-group-modal>
 
 <app-expense-modal
 *ngIf="showPopup"
 class="modal-container"
 [membersNames]="membersNames"
 (closePopup)="showPopup = false"
 (onAddExpense)="loadGroupDetails()"
 ></app-expense-modal>
 
 
 </div>





<!-- <div class="container-fluid">
 <div class="row">
  <div class="col">
    <div class="group-detail-card">
       <h2 class="group-name" *ngIf="groupName">{{groupName}} </h2>
       <span class="created-details" *ngIf="this.groupDetails[0].createdBy && this.groupDetails[0].createdAt"> Created on: {{this.groupDetails[0].createdAt | date}}   by {{this.groupDetails[0].createdBy}}</span>
       
       <div class="profile-container">
        <div class="profile-icon"><img src="assets/img/img_avatar.png" alt="Avatar" class="avatar">
       </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="profile-icon">
          <img src="assets/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
      </div>
       
      <div class="add-member-btn">
        <button  (click)="showAddmembersPopup = true"  class="add-btn">  Add Members</button>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="summary-text">
    <div class="group-expense-summary-card">
     
      <h2 class="summary-heading">Summary</h2>
      <div class="expense-table">
        <div class="balances">
          <h3>$200</h3>
          <p>You Owe</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Owed to you</p>
        </div>
        <div class="balances">
          <h3>$200</h3>
          <p>Total Balances</p>
        </div>
      </div>
    
    </div>
    <div class="buttons">
      <button (click)="showPopup = true" class="summary-btns">Add Expense</button>
      <button class="summary-btns" (click)="showOwedExpenses()" >Settle Up</button>
    </div>
  </div>
  </div>
 
</div>
 <div class="row expense-summary-div">
  <div class="col-12">
  
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'expenses'" (click)="setActiveTab('expenses')">Group Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'balances'" (click)="setActiveTab('balances')">Group Balances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'activities'" (click)="setActiveTab('activities')">Activities</a>
      </li>
    </ul>

    <div *ngIf="activeTab === 'expenses'">
      <div class="tab-content">
        <div *ngIf="groupExpenses.length === 0">
          <p>It looks like there are no expenses yet. Click "Add Expense" to create one!</p>
        </div>
        
        <div class="expense-summary" *ngFor="let expense of groupExpenses">
          <div class="expense-item">
            <div class="expense-title">{{expense.title}}</div>
            <div class="expense-amount">You Owe: 100</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'balances'">
      <div class="tab-content">
   
        <h4>Group Balances Content</h4>
        <p>Details for Group Balances... kon kisko kitna owe kr rha hai issi group mein</p>
      </div>
    </div>
    <div *ngIf="activeTab === 'activities'">
      <div class="tab-content">
  
        <h4>Activities Content</h4>
        <p>Details for Activities...</p>
      </div>
    </div>
  </div>


 </div>
 <div class="overlay" *ngIf="showPopup || showAddmembersPopup || showSettleUpPopup || showAddmembersPopup"></div>

 <app-settle-up
*ngIf="showSettleUpPopup"
 (closeSettleUpPopup)="showSettleUpPopup = false"
 (onSettleUp) = "loadGroupDetails()"
  class="modal-container"
  [groupDetails]="groupDetails"
  [owedExpenses]="owedExpenses"
  [groupId]="groupId">
</app-settle-up>

 <app-edit-group-modal
  *ngIf="showAddmembersPopup"
  class="modal-container"
  (closeAddMemberPopup)="showAddmembersPopup = false"
  [groupId]="groupId"
  (onMemberAdd)="loadGroupDetails()"
></app-edit-group-modal>

<app-expense-modal
*ngIf="showPopup"
class="modal-container"
[membersNames]="membersNames"
(closePopup)="showPopup = false"
(onAddExpense)="loadGroupDetails()"
></app-expense-modal>


</div> -->
  
  
 




  
 

 








