
<div class="container text-center">
    <div class="row .no_margin align-items-center" style="margin: 0;">
        <div class="section section1">
            <h1 class="heading">DASHBOARD</h1>  
            <p *ngIf="userProfile" class="welcome-text">Welcome, {{userProfile.name}}! Take control of your finances today.</p>
    </div>
  
 
    <div class="row">
        <div class="section">
            <table class="table table-secondary table-striped">
                <thead>
                  <tr>
                    <th scope="col">You Owe</th>
                    <th scope="col">You Owed</th>
                    <th scope="col">Total Balances</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>$</b> 0.00</td>
                    <td><b>$</b> 0.00</td>
                    <td><b>$</b> 0.00</td>
                  </tr>
                </tbody>
              </table>
        </div>
      
    </div>
  
    <div class="row">
        <div class="section">
            <div class="col-12">{{groupMessage}}</div>
        </div>
     
    </div>
</div>