<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="username" name="username" type="text" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="password" name="password" type="password" required>
    </div>
    <div class="button-login"><button type="submit">Login</button></div>

  </form>
</div>

  <div id="g_id_onload"
  data-client_id="1040146212904-7b45nt102lbvv34dsd4f2cg980plc1ob.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:3000/api/login"
  data-auto_select="true"
  data-itp_support="true">
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div>