:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  /* background: grey; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #000000;
  text-align: center;
  border: 1px solid grey;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 14px;
  color: #000000;
}

input {
  width: 54%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

input[type="text"], input[type="password"] {
  background-color: #f0f2f5;
  
}

input:focus{
  outline: none;
}

.button-login button {
  width: 60%;
  padding: 12px;
  background-color: #c82586;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-login button:hover {
  background-color: #f42ca4;
}

.google-signin {
  margin-top: 20px;
}

.g_id_onload, .g_id_signin {
  display: flex;
  justify-content: center;
  align-items: center;
}
