<body>
<div class="container">
  
  <div class="row">
    <!-- Left Side: Video -->
    <div class="col video-container">
      <img src="assets/img/login.avif" class="login-img" alt="">
    </div>

    <!-- Right Side: Login Text and Sign-In Button -->
    <div class="col login-container">
      <div class="heading">
        <p class="main-heading">Welcome Back!</p>
        <p class="sub-heading">Let’s Manage Those Expenses Together.</p>
      </div>
      <div id="google-signin-button" class="google-btn"></div>
    </div>
  </div>
</div>

</body>

 <!-- <div id="g_id_onload"
  data-client_id="541417568546-kh9sct1mp04ou367mmiuvc69vdebk8ms.apps.googleusercontent.com"
  data-context="use"
  data-ux_mode="popup"
  data-itp_support="true"
  data-auto_prompt="false"
  data-callback="handleCredentialResponse">
  
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="filled_blue"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div> -->


<!-- <div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="username" name="username" type="text" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="password" name="password" type="password" required>
    </div>
    <div class="button-login"><button type="submit">Login</button></div>

  </form>
</div>

  <div id="g_id_onload"
  data-client_id="1040146212904-7b45nt102lbvv34dsd4f2cg980plc1ob.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:3000/api/login"
  data-auto_select="true"
  data-itp_support="true">
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div> -->


<div id="preloader" style="display: none;">
  <img src="../../assets/img/giphy1.gif" alt="Loading..." class="giphy-loader">
</div>

