.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #c82586;
  color: #fff;
  height: 50px;

  .navbar-logo {
    .logo {
      width: 40px;
      height: 40px;
    }
  }

  .profile-container {
    position: relative;
    cursor: pointer;
    
    .profile-circle {
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #040404;
      font-weight: bold;
      font-size: 18px;
    }

    .dropdown-menu {
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     
      .dropdown-item {
        padding: 8px 12px;
        color: grey;
        background: none;
        border: none;
        cursor: pointer;
        &:hover {
        color: #555555;
        }
      }
    }
  }
}
