
<nav class="navbar">
  <div class="navbar-brand">SplitMATE</div>
  <div class="navbar-profile">
    <div 
      class="profile-icon"
      (click)="toggleDropdown()"
    >
      <i class="fa fa-user"></i>
    </div>
    <ul class="dropdown-menu" *ngIf="isDropdownVisible">
      <li *ngIf="!isLoggedIn" (click)="signIn()">Sign In</li>
      <li *ngIf="isLoggedIn" (click)="viewProfile()">View Profile</li>
      <li *ngIf="isLoggedIn" (click)="signOut()">Sign Out</li>
    </ul>
  </div>
</nav>




