
<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
  
         <a href="landing" class="logo d-flex align-items-center">
           <h1 class="sitename">Split<span class="logo_span">Mate</span></h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            <!-- <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Dropdown 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="#">Deep Dropdown 1</a></li>
                    <li><a href="#">Deep Dropdown 2</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown 2</a></li>
                <li><a href="#">Dropdown 3</a></li>
                <li><a href="#">Dropdown 4</a></li>
              </ul>
            </li> -->
            <li><a href="login">Log In</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
  
      </div>
    </header>
  




    <main class="main">
  
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="assets/img/hero-bg-2.jpg" alt="" class="hero-bg">
  
        <div class="container">
          <div class="row gy-4 justify-content-between">
            <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
              <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
  
            <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">
              <h1 name="type-off" class="type-off">Split Bills, Simplified With<br>
                <span class="typewriter">{{ typewriterText }} </span>
              </h1>
              <p>Effortlessly split your bills and keep track of expenses with ease</p>
              <div class="d-flex">
                <a href="login" class="btn-get-started">Get Started</a>
                <a href="https://youtu.be/qxxoPvTzzqA?si=50xOhhPMw5yXRTG_" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
              </div>
            </div>
  
          </div>
        </div>
  
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3"></use>
          </g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0"></use>
          </g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9"></use>
          </g>
        </svg>
  
      </section><!-- /Hero Section -->
  
      <!-- About Section -->
      <section id="about" class="about section">
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row align-items-xl-center gy-5">
  
            <div class="col-xl-5 content">
              <h3>About Us</h3>
              <h2>Simplifying the way people share expenses</h2>
              <p>Life is full of moments where you need to split costs—whether it's a meal with friends, a group vacation, or managing household bills. We strive to make these situations easier, more transparent, and stress-free.</p>
              <a href="landing" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
  
            <div class="col-xl-7">
              <div class="row gy-4 icon-boxes">
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <i class="bi bi-currency-dollar"></i>
                    <h3>Easily Split Expenses</h3>
                    <p>Track shared expenses, settle up, and keep everyone happy. No more awkward conversations about who owes what.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="bi bi-currency-euro"></i>
                    <h3>Simplify Group Payments</h3>
                    <p>Manage trips, dinners, and group activities effortlessly. Create groups, add expenses, and Splitmate does the math for you.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                    <i class="bi bi-currency-yen"></i>
                    <h3>Settle Up Seamlessly</h3>
                    <p>Pay friends directly or mark expenses as settled. Fast, easy, and hassle-free.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <i class="bi bi-currency-rupee"></i>
                    <h3>Transparent Balances</h3>
                    <p>See exactly how much you owe or are owed. Splitmate keeps all your shared expenses clear and up to date.</p>
                  </div>
                </div> <!-- End Icon Box -->
  
              </div>
            </div>
  
          </div>
        </div>
  
      </section><!-- /About Section -->
  
      <!-- Features Section -->
      <section id="features" class="features section">
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="features-item">
                <i class="bi bi-eye" style="color: #ffbb2c;"></i>
                <h3><a href="" class="stretched-link">Add groups and friends</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="features-item">
                <i class="bi bi-infinity" style="color: #5578ff;"></i>
                <h3><a href="" class="stretched-link">Multiple currencies</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
            
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="400">
              <div class="features-item">
                <i class="bi bi-nut" style="color: #e361ff;"></i>
                <h3><a href="" class="stretched-link">Equal or unequal splits</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="500">
              <div class="features-item">
                <i class="bi bi-shuffle" style="color: #47aeff;"></i>
                <h3><a href="" class="stretched-link">Split by % or shares</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
           
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="800">
              <div class="features-item">
                <i class="bi bi-camera-video" style="color: #4233ff;"></i>
                <h3><a href="" class="stretched-link">Categorize expenses</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
            <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="900">
              <div class="features-item">
                <i class="bi bi-command" style="color: #b2904f;"></i>
                <h3><a href="" class="stretched-link">Charts and graphs</a></h3>
              </div>
            </div><!-- End Feature Item -->
  
            
  
          </div>
  
        </div>
  
      </section><!-- /Features Section -->
  
      <!-- <section id="stats" class="stats section light-background">
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="bi bi-emoji-smile"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="bi bi-journal-richtext"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="bi bi-headset"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="bi bi-people"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section> -->
      
      
      <!-- /Stats Section -->
  
      <!-- Details Section -->
      <section id="details" class="details section">
  
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Details</h2>
          <div><span>Check Our</span> <span class="description-title"> Details</span></div>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-md-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <img src="assets/img/social.jfif" class="img-fluid" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <h3>Track balances
                </h3>
              <p class="fst-italic">
                Keep track of shared expenses, balances, and who owes who
              </p>
              <ul>
                <li><i class="bi bi-check"></i><span> Split expenses effortlessly and settle up without confusion.</span></li>
                <li><i class="bi bi-check"></i> <span>Always know who paid for what and how much everyone owes.</span></li>
                <li><i class="bi bi-check"></i> <span>Keep track of shared expenses, balances, and who owes whom.</span></li>
              </ul>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/llll.avif" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
              <h3>Organize expenses</h3>
              <p class="fst-italic">
                Split expenses with any group: trips, housemates, friends, and family
              </p>
              <p>
                Easily split expenses with any group, whether it’s for trips, housemates, friends, or family. Keep track of who paid for what, manage shared spending transparently, and settle balances without any stress. Simplify group finances and ensure everyone stays on the same page.


              </p>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-md-6 d-flex align-items-center" data-aos="zoom-out">
              <img src="assets/img/images.avif" class="img-fluid" alt="">
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <h3>Add expenses easily</h3>
              <p class="fst-italic">Quickly add expenses on the go before you forget who pai</p>
       
              <ul>
                <li><i class="bi bi-check"></i><span> Split expenses effortlessly and settle up without confusion.</span></li>
                <li><i class="bi bi-check"></i> <span>Always know who paid for what and how much everyone owes.</span></li>
                <li><i class="bi bi-check"></i> <span>Keep track of shared expenses, balances, and who owes whom.</span></li>
              </ul>
            </div>
          </div><!-- Features Item -->
  
          
  
        </div>
  
      </section><!-- /Details Section -->
  
  
      <!-- Team Section -->
      <section id="team" class="team section">
  
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Team</h2>
          <div><span>Check Our</span> <span class="description-title"> Team</span></div>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="pic"><img src="" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Anuja Gupta</h4>
                  <span>Backend Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="pic"><img src="" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Harleen Raniyal</h4>
                  <span>Frontend Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="pic"><img src="" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Kaveri Dhore</h4>
                  <span>Frontend Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Lokesh Pimple</h4>
                    <span>UI Designer</span>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Rahul Bhalekar</h4>
                    <span>Backend Developer</span>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->


              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <div class="pic"><img src="" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Shravan Shetty</h4>
                    <span>Frontend Developer</span>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->
  
          </div>
  
        </div>
  
      </section><!-- /Team Section -->
  
    
   
  
    </main>
  
    <footer id="footer" class="footer dark-background">
  
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="" class="logo d-flex align-items-center">
              <span class="sitename">SplitMate</span>
            </a>
            <div class="footer-contact pt-3">
              <p>17 Floor, DLH Park, SV Road, Goregaon West</p>
              <p>Mumbai 400060</p>
              <p class="mt-3"><strong>Phone:</strong> <span> +1 5589 55488 55</span></p>
              <p><strong>Email:</strong> <span> info bts.com</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-12 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
  
        </div>
      </div>
  
      <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">SplitMate</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        </div>
      </div>
  
    </footer>
  
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <div id="preloader">
  
  </div>
    
  

  </body>