<div class="container">
    <button class="close-btn" (click)="close()">&#10006;</button>
    <div class="form">
        <h2>Group Members</h2>
      <mat-chip-list>
        <mat-chip
        *ngFor="let member of memberToAdd; let i = index"
        removable="true"
        (removed)="removeChip(i)"
      >
        {{ member.username || member.email }} <!-- Display username if available, otherwise email -->
        <button matChipRemove>&#10006;</button>
      </mat-chip>
      </mat-chip-list>
      <p style="color: red;">{{ errorMessage }}</p>
      <input
        matInput
        placeholder="Enter email to add"
        [(ngModel)]="newEmail"
        (keydown.enter)="addChip()"
        (input)="onSearchUsername()"
        [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMember($event.option.value)">
            <mat-option *ngFor="let result of searchResults" [value]="result">
              {{ result.username }} ({{ result.email }})
            </mat-option>
          </mat-autocomplete>
          
      <div class="add-button">
        <button (click)="addMembers()">Add Members</button>
      </div>
    </div>
  </div>
  
